@using Business.Configurations
@model ChangePasswordViewModel

<form asp-action="ChangePassword" method="post">
	@Html.AntiForgeryToken()

	<label>Eski Şifre</label>
	<input type="password" asp-for="OldPassword" />
	@Html.ValidationMessageFor(m => m.OldPassword)

	<label>Yeni Şifre</label>
	<input type="password" asp-for="NewPassword" />
	@Html.ValidationMessageFor(m => m.NewPassword)

	<label>Yeni Şifre (Tekrar)</label>
	<input type="password" asp-for="ConfirmPassword" />
	@Html.ValidationMessageFor(m => m.ConfirmPassword)

	<button type="submit">Şifre Değiştir</button>
</form>
